*{
    box-sizing: border-box;
}
body {
    min-width: 100%;
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
h1, h2 {
    padding: 0;
    margin: 0;
}

#scoreboard {
    background-color: #1B244A;
    color: white;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%
}
#scoreboard-center {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}

.score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 6.25rem;
    background-color: black;
    padding: 20px 50px;
    color: red;
}
button {
    background-color: transparent;
    color: white;
    border: solid 1px white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.25rem;
}
#time {
    color: red;
    margin: 10px;
}
@media only screen and (max-width: 768px) {
    #scoreboard-center {
        flex-direction: column;
    }
}